{% extends 'base.html'%}

{% block content %}
<br/>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">current {{quote}} values</h1>
            <p class="lead">watch all values</p>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Current value</th>
                <th scope="col">Low 24 hours</th>
                <th scope="col">Market cap</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in crypto.DISPLAY.items %}
            <tr>
                <th scope="row">{{key}}</th>
                <td>{{value.INR.PRICE}}</td>
                <td>{{value.INR.LOW24HOUR}}</td>
                <td>{{value.INR.MKTCAP}}</td>
            </tr>

            {%endfor%}
        </tbody>
    </table>

{%endblock%}